.main{
    background-color: #b69156;
    height: 80px;    
    border-radius: 20px;
}
.navi{
    text-align: right;
}
.navi a{
    padding: 2.2%;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    display: inline-flex;
    
}
.navi a:hover{
    color: rgb(3, 2, 2);
    font-size: 15px;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-color: azure;
    text-decoration-thickness: 5px;
}
body{
    background-image: url(images/ab2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.info{
    background-color: #e7a841de;
    opacity: 75%;
    max-width: 50%;
    border-radius: 20px;
    border: 2px black solid;
    margin-top: 20px;
    text-align: center;   
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}
#logo{
    height: 2.5cm;
    width: 5cm;
    float: left;
}
#img1{
    margin-top: 50px;
    margin-right: 90px;
    border-radius: 50px;
    float: right;
    height: 5cm;
    width: 10cm;
}
#img1:hover{
    margin-top: 50px;
    margin-right: 90px;
    border-radius: 50px;
    float: right;
    height: 6cm;
    width: 11cm;
}
.detail{
    float: right;
    background-color: #e7a841de;
    opacity: 75%;
    max-width: 50%;
    border-radius: 20px;
    border: 2px black solid;
    margin-top: 20px;
    text-align: center;    
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}
#img2{
    margin-top: 50px;
    margin-left: 90px;
    border-radius: 50px;
    float: left;
    height: 10cm;
    width: 10cm;
    border-color: black;
    border: 2px;
}
#img2:hover{
    margin-top: 50px;
    margin-left: 90px;
    border-radius: 50px;
    float: left;
    height: 12cm;
    width: 12cm;
    border-color: black;
    border: 3px;
}
footer {
    text-align: center;
    padding: 50px;
    background-color: rgb(240, 226, 221);
    color: rgb(19, 14, 14);
    margin-top: 60%; 
}